body {
    background-color: black;
}

.box {
    background-color: white;
    height:200px;
    display:inline-block;
    border: 1px solid black;
    box-sizing: border-box;
    font-size: 50px;
    font-weight: bold;
    line-height: 4;
    vertical-align: middle;
    -webkit-margin-after:0px;
    -webkit-margin-before:0px;
}
